.content-header {
  background: hsl(355deg, 68%, 48%);
  min-height: 12.5rem;
  padding: 2rem 0 1rem;
}
.top-nav {
  text-align: right;
  padding: 0px 0px 0px;
  text-decoration: none;
  font-size: 17px;
}

nav .navbar-items {
  margin: 1%;
}

nav .navbar-items-active {
  display: flex;
  transition: color 600ms ease-in-out;
}

.logo {
  max-width: 50%;
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

body {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
}

button {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
